#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.home__wrapper {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.home__wrapper h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.home__wrapper small {
    line-height: 1;
    margin-bottom: 5px;
}

.home__qrcode_wrapper {
    margin-top: 20px;
}

.home__qrcode_wrapper p {
    max-width: 480px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: auto;
}

.home__qrcode_wrapper button {
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 20px;
}

form input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    transition: border-color 0.25s;
    margin: 5px;
}

@media (max-width: 768px) {
    .home__qrcode_wrapper p {
        max-width: 350px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: auto;
    }

    form {
        grid-template-columns: 1fr;
    }
}
